.app.light {
  --bg-color: #cde2e7;
  --inverted-bg-color: #053d4b;

  --primary-color: #073d5c;
  --secondary-color: #0a385e;
  --inverted-primary-color: #f07444;
  --inverted-secondary-color: #f1936e;
}